<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p class="ion-text-start">Hola</p>
  </div>
  <div class="ion-text-end">
    <p>
      Hola como estas?
    </p>
  </div>
  <div class="ion-text-start">
    <p>
      Bien y tu?
    </p>
  </div>
  <div class="ion-text-end">
    <p>
      Bien
    </p>
  </div>
  <div class="ion-text-start">
    <p>
      ok
    </p>
  </div>
  <ion-item> 
    <ion-label position="floating">Mensaje</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-content>
