<ion-card>
  <!-- CABECERA DE AUTO -->
  <ion-card-header *ngIf="auto != true">
    <ion-card-title>Inscribir auto</ion-card-title>
    <ion-card-subtitle>Para inscribir un viaje primero debe inscribir un auto</ion-card-subtitle>
  </ion-card-header>
  <!-- CABECERA DE VIAJE -->
  <ion-card-header *ngIf="auto == true">
    <ion-card-title>Inscribir viaje</ion-card-title>
    <ion-card-subtitle>Para inscribir un viaje complete el fomulario con la siguiente informacion</ion-card-subtitle>
  </ion-card-header>
  <!-- FORMULARIO DE VIAJE -->
  <ion-card-content *ngIf="auto == true">
    <ion-item>
      <ion-label position="stacked">Ingrese el destino</ion-label>
      <ion-input [(ngModel)]="destino" type="text" placeholder="Ej: Av. las torre quilicura"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de salida</ion-label>
      <ion-input [(ngModel)]="fecha" type="date"  placeholder="Ej:12-10-2022"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora de salida</ion-label>
      <ion-input [(ngModel)]="hora" type="time"  placeholder="Ej: 08:30"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Seleccione un auto" [(ngModel)]="autoSeleccionado">
        <ion-select-option *ngFor="let autos of listaAutos" [value]="autos.idAuto">{{ autos.marca }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Capacidad</ion-label>
      <ion-input [(ngModel)]="pasajeros" type="number"  placeholder="Ej: 2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Costo por persona</ion-label>
      <ion-input [(ngModel)]="costo" type="number"  placeholder="Ej: 1500"></ion-input>
    </ion-item>
  </ion-card-content>
  <!-- FORMULARIO DE AUTO -->
  <ion-card-content *ngIf="auto != true">
    <ion-item>
      <ion-label position="stacked">Patente</ion-label>
      <ion-input [(ngModel)]="patente" type="text" placeholder="Ej: ABCD12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Marca</ion-label>
      <ion-input type="text" [(ngModel)]="marca" placeholder="Ej: Ferrari"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="modelo" placeholder="Ej: FXX"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- BOTON DEL AUTO -->
<ion-button (click)="guardarAuto()" *ngIf="auto != true">Registrar auto</ion-button>
<!-- BOTON DEL VIAJE -->
<ion-button (click)="guardarViaje()" *ngIf="auto == true">Registrar viaje</ion-button>