<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="8">
        <h3>Inicio</h3>
      </ion-col>
    </ion-row>

    <!-- boton menu  -->
    <ion-buttons slot="start">
      <ion-menu-button color="warning" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-buttons slot="start">
        <ion-button (click)="iniciar()" color="warning" autoHide="false">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="viajar">
        <ion-icon name="walk-outline"></ion-icon>
        <ion-label>Viajar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="conduce">
        <ion-icon name="car-outline"></ion-icon>
        <ion-label>Conduce</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="actual" tab="vivo" >
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>En vivo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>