<ion-header>
  <div class="ion-text-center">
    <h1>Datos:</h1>
  </div>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header >
      <ion-row class="ion-justify-content-center">
        <ion-avatar >
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-row>
  
      <br>
      <ion-item>
        <ion-row>
          <ion-col size="12">
            <p>Cambiar foto de perfil</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-icon color="warning" name="duplicate-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
  
      
      <ion-item>
        <h5> correo: {{ usuarioperfil }} </h5>
      </ion-item>

  
    </ion-card-content>
  </ion-card>
  
</ion-content>


