<ion-header>
  <div class="ion-text-center">
    <h1>Historial viajes:</h1>
  </div>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item  *ngFor="let i of listaUsuariosviajes">
      <ion-grid>
        <ion-row >
          <ion-col size="12">
              <p>{{ i.pk_id_usuario }}</p>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col size="3">
            <p>Estado: {{ i.pk_id_auto }}</p>
          </ion-col>
          <ion-col size="3">
            <p>Fecha: {{ i.pk_id_auto }}</p>
          </ion-col>
          <ion-col size="3">
            <p>Hora: </p>
          </ion-col>
          <ion-col size="3">
            <p>Costo: </p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>
</ion-content>


