<ion-card-header>
  <ion-card-title>Eliminar auto</ion-card-title>
  <ion-card-subtitle>Para eliminar un auto seleccionelo y aprete eliminar</ion-card-subtitle>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-card-header>


<ion-content>
  <ion-card-content>
    <ion-item>
      <ion-select placeholder="Seleccione un auto" [(ngModel)]="autoSeleccionado">
        <ion-select-option *ngFor="let autos of listaAutos" [value]="autos.idAuto">{{ autos.marca }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>

  <ion-button (click)="eliminarAuto()">Registrar auto</ion-button>
</ion-content>
