<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <!-- boton menu  -->
    <ion-buttons slot="start">
      <ion-menu-button color="warning" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  

</ion-header>

<ion-header>
  <ion-toolbar color="warning">
    <ion-img src="assets/imgs/DowntownCabCoLogoGTAV.webp"></ion-img>
</ion-toolbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="9"><h1>Lo sentimos!</h1></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      
      <ion-card >
        <ion-card-header color="warning">
          <ion-img src="assets/imgs/error404.png"></ion-img> 
        </ion-card-header>
        
        <ion-card-content >
          <br>
          <h5> No hemos podido encontrar lo que buscabas, intenta nuevamente.</h5>
        </ion-card-content>
      </ion-card>
    </ion-col>
  
  </ion-row>

</ion-content>
