<ion-header>
  <ion-toolbar>
    <ion-title>Tu viaje actual</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="actual==true">
  <p>destino: {{ viajeActual[0].destino }}</p>
  <p>hora: {{ viajeActual[0].hora }}</p>
  <p>precio: {{ viajeActual[0].costo }}</p>
  <ion-button (click)="mapa()">
    <ion-icon name="map-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="cancelar()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>
</ion-content>

<ion-content *ngIf="actual==false">
  <p>No tienes ningun viaje activo</p>
</ion-content>